<div>
    <div style="margin-bottom: 20px; padding: 3px; position: fixed; top: 0px; width: 100%; z-index: 2; background-color: #81b33a">
        &nbsp;
        <a (click)="HomeButtonClick()" style="margin-left: 30px; font-size: 14px; cursor: pointer; color: #3e3f3a;" class="float-left">Taptap Link</a>
        <a (click)="LogoutButtonClick()" style="margin-right: 30px; font-size: 12px; cursor: pointer; color: white;" class="float-right">Çıkış Yap</a>
    </div>
</div>
<div style="z-index: 1;" class="d-flex justify-content-center mt-5">
    <form style="width: 500px;">
        <div *ngIf="form.options.alert" class="alert alert-secondary" role="alert">{{form.options.alert}}</div>
        <div class="form-group">
            <input [(ngModel)]="form.post" name="post" type="text" class="form-control" id="post" placeholder="Birşeyler yazın...">
        </div>
        <button (click)="PostButtonClick()" type="button" class="btn btn-info">Paylaş</button>
        <br><br><br><br>
        <div>
            <div style="margin-top: 25px;" *ngFor="let i of form.postList" class="list-group">
                <a href="#" class="list-group-item list-group-item-action">{{i.PostContent}}</a>
            </div>
        </div>
    </form>
</div>